
 .detail-table {
  /* background-color: rgb(249, 250, 250); */
  border-radius: 10px;
  position: absolute;
  top: 100px;
  left: 200px;
 }
 .detail-user,
 .detail-value {
  border: 1px solid rgb(6, 6, 6);
  height: 70px;
  width: 200px;
  padding: 20px;
  padding-bottom: 5px;
  display: inline-block;
  margin: 10px;
  border-radius: 20px;

 }

  
 .user-photo-info{
  position: relative;
  bottom: 200px;
  right: 200px;
 }

 .user-photo-img {
  position: absolute;
  top: 250px;
  right: 100px;
}
.transaction-form-wrap {
  height: 100vh;
  width: 100vw;
  background-color: lightskyblue;
}
