.comment_btn{
  display: flex;
  position: relative;
  top: 450px;
  left: 340px;
}
.comment-red-btn {
  padding: 20px 20px;
  font-size: 14px;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}
.comment-destroy{
  padding: 20px 20px;
  font-size: 14px;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  text-align: center;

  display: inline-block;
}
.or-text {
  font-size: 20px;
}
